:root {
    background-color:  rgb(54 51 119);
    line-height: 1.5;
    font-size: 62.5%; /*Sets default font size to eq. 10px meaning rem like 4.2 = 42 px*/
}

* {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(87 85 148);
    border-bottom: 1rem solid rgb(28, 26, 90, 0.75);
    border-right: 1rem solid rgb(28, 26, 90, 0.75);
    border-left: 1rem solid rgb(28, 26, 90, 0.75);
    width: 75vw;;
}

h1, 
h2, 
h3, 
h4 {
    margin-bottom: 1rem;
    text-align: center;
}

h1 {
    font-size: 5.4rem;
    padding: 5rem 2rem 0 2rem;
    color: rgb(129, 127, 178);
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 3rem;
    color: rgb(129, 127, 178);
    margin: 2rem 0 2rem 0;
    font-weight: 700;
    font-family: 'arial narrow', Arial, sans-serif;
    padding: 0 1rem;
}
/*UTILITIES*/

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;   /*combined w margin keeps thing centered on page on larger screens!*/
    margin: 0 auto;
    padding: 0;
}

.container > * { /*children of container*/
    width: 100%;
    border: 1rem solid rgb(11, 9, 60, 0.75);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/*Buttons*/

button {
    background-color: rgb(54 51 119);
    border: none;
    width: 5em;
    height: 5em;
}

button:hover {
    cursor: pointer;
    
}